.competitions {
  margin-left: 30%;
  margin-top: 20%;
  font-weight: bolder;
}
.guest {
  margin-left: 20%;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
}
.para {
  margin-left: 33%;
  margin-right: 35%;
  margin-top: 5%;
}
.event-card {
  width: auto;
  height: auto;
}
.card-horizontal {
  display: flex !important;
  flex: 1 1 auto !important;
  justify-content: center;
  align-content: center;
}
.event-body .event-text {
  margin-top: 2em;
  justify-content: center;
  align-content: center;
}
#overview {
  cursor: pointer;
  font-weight: bolder;
  text-align: left;
}
#timeline {
  cursor: pointer;
  font-weight: bolder;
  text-align: left;
}
#contacts {
  cursor: pointer;
  font-weight: bolder;
  text-align: left;
}
.event-card #images {
  width: 300px;
  height: 300px;
}
#problem {
  font-weight: bolder;
  color: orange;
}
#register {
  color: red;
  font-weight: bolder;
}
.buttons {
  justify-content: center;
  align-content: center;
  bottom: 0;
  padding-top: 5rem;
  margin: auto;
}
.e-card {
  width: auto;
  height: auto;
}
.e-dropdown .dropdown-toggle {
  display: none;
  color: black;
}
@media screen and (max-width: 700px) {
  .card-horizontal {
    display: inline !important;
    flex-shrink: 0;
  }

  .event-card #images {
    width: 50%;
    height: 0.5 rem;
  }
  .e-dropdown .dropdown-toggle {
    display: inline;
    color: black;
  }
  .e-dropdown .dropdownMenu2 {
    transform: none;
  }
  .event-body .event-title {
    display: none;
  }
  .buttons {
    justify-content: center;
    align-content: center;
    bottom: 0;
    padding: 0;
    margin: auto;
  }
}

.eventsOuter .events {
  padding-top: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-69px);
  background-color: #f2e0d2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f1dac8' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f1d4bd' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f1ceb2' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f1c8a7' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23F2C29B' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f2c8a2' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f2cda9' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f2d2b0' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f2d7b6' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23F2DBBD' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.eventsButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.eventsButton .competitionsBtn {
  /* width: 159px; */
  height: 36px;
  background: #d95c29;
  box-shadow: 2.28445px 5.71113px 7.00533px rgba(157, 108, 63, 0.12);
  border-radius: 3.50266px;
  color: white;
  font-weight: 500;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.competitionsBtn a {
  pointer-events: none !important;
}

.competitionsBtn span {
  font-size: 0.8rem;
  background: white;
  color: #d95c29;
  padding: 2px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.competitionsBtn:disabled {
  opacity: 0.7;
}

.eventsButton .guestTalkBtn {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #d95c29;
  margin-left: 20px;
  background: transparent;
}

.eventsOuter .events p {
  width: 100%;
  margin: 40px 0;
  text-align: center;
  width: 80%;
}

.eventCardOuter {
  width: 600px;
}

.eventCard {
  position: relative;
  padding: 60px 20px;
  overflow: hidden;
  margin: 60px 0;
}

#eventCards h1 {
  width: 100%;
  text-align: center;
}

.eventCardImg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.eventCardOuter {
  display: flex;
  width: 100%;
  min-height: 360px;
}

.eventCardOuter img {
  height: 100% !important;
  object-fit: cover;
}

.eventCard .card-body {
  width: 100% !important;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.eventCard .cardTitles {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.cardTitles > div {
  width: max-content;
}

.cardTitles > div:hover {
  text-decoration: underline;
}

.eventCard .cardText {
  text-align: left !important;
  justify-content: flex-start;
  margin-top: 20px;
}

.eventButtons {
  text-align: left;
  display: flex;
  align-items: flex-end;
  margin-top: auto;
}

.eventButtons button {
  height: 32px;
  color: white;
  font-weight: 400;
  background: #dd6a2b;
  border-radius: 3.4px;
  padding: 0 20px;
  margin-top: 20px;
}

.eventButtons .activeBtn:hover {
  opacity: 0.9;
}

.eventButtons .disabledBtn {
  opacity: 0.8;
  pointer-events: none;
}

.eventCardOuter .cardTitle {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

@media screen and (max-width: 769px) {
  .eventCardOuter {
    flex-direction: column;
  }

  .eventCardOuter img {
    width: 100% !important;
  }

  .eventCard .card-body {
    padding: 20px;
  }

  .eventCard .cardTitles {
    display: flex;
    gap: 10px;
    flex-direction: row;
    font-size: 1rem;
    justify-content: center;
  }

  .eventCardOuter .cardTitle {
    text-align: center;
  }

  .eventCard .cardText {
    text-align: center !important;
    margin-top: 20px;
    font-size: 1rem;
  }

  .eventButtons {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }

  .eventButtons button {
    margin-top: 20px;
  }
}

.cardContactsText {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.contactName {
  font-weight: 500;
}

.eventCard .event-card {
  max-width: 900px;
  margin: 0 auto;
}

.guestTalksDescription {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 10px;
}

.btnActive {
  background: white !important;
  color: #d95c29 !important;
}

@media screen and (max-width: 769px) {
  .cardContactsText {
    justify-content: center !important;
    gap: 25px;
  }
}
