.competitions {
    margin-left: 30%;
    margin-top: 20%;
    font-weight: bolder;
}
.guest{
    margin-left: 20%;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;    
}
.events{
    margin-top: 12%;
}
.para {
    margin-left: 33%;
    margin-right: 35%;
    margin-top: 5%;
}
#images{
    margin-top: 5%;
    margin-left: 35%;
}
.tags{
    margin-top: 5%;
}
 .over{
    display: inline-block; 
} 
 .overview{

    margin-left: 38%;
    font-weight: bolder;
    cursor: pointer;
}
.lines{
    margin-left: 47%;
    font-weight: bolder;
    cursor: pointer;
}
.contacts{
    margin-left: 56%;
    font-weight: bolder;
    cursor: pointer;
} 
 #overview{
    margin-left: -25%;
    cursor: pointer;
    font-weight: bolder;
}
#timeline{
    margin-left: -32%;
    cursor: pointer;
    font-weight: bolder;
}
#contacts{
    margin-left: -32%;
    cursor: pointer;
    font-weight: bolder;
}
#special{
    margin-right: 40%;
    margin-left: -25%;
    margin-top: 5%;
}
#problem{
    margin-top: 15%;
    margin-left: -45%;
    font-weight: bolder;
    color: orange;
}
#register{

    margin-top: 15%;
    margin-left: -70%;
    font-weight: bolder;
} 


