
.react1{
	background-color: radial-gradient(#e80909, transparent);
	background-color: #F2E0D2 ;
    /* margin-top: 10px; */
}
.lead{
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 5%;
}
.hey{
	margin-top: 10%;
	margin-bottom: 3%;
	
}
