.timer-container{
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.date{
    margin-left: 20%;
}

.text{
    font-weight: 900;
}
.jagriti{
    font-size: larger;
}
#days{
    background-color: rgb(247, 211, 217);
    height: 17vh;
    width: 7vw;
    margin-bottom: 20%;
    margin-left: 12%;
}
#hours{
    background-color: rgb(247, 211, 217);
    height: 17vh;
    width: 7vw;
}
#minutes{
    background-color: rgb(247, 211, 217);
    height: 17vh;
    width: 7vw;
}
#seconds{
    background-color: rgb(247, 211, 217);
    height: 17vh;
    width: 7vw;
}
