.competitions{
    margin-left: 32%;
    margin-top: 20%;
    font-weight: bolder;

}
.guest{
    margin-left: 20%;
    font-weight: bolder;
    
}
.events{
    margin-top: 12%;
}
.para{
    margin-left: 32%;
    margin-right: 25%;
    margin-top: 5%;
}
