.competitions {
    margin-left: 20%;
    margin-top: 20%;
    font-weight: bolder;
}
.guest{
    margin-left: 20%;
    font-weight: bolder;
    
}
.events{
    margin-top: 12%;
}
.para {
    margin-left: 22%;
    margin-right: 38%;
    margin-top: 5%;
}
