.competitions {
    margin-left: 20%;
    margin-top: 20%;
    font-weight: bolder;
}
.guest{
    margin-left: 20%;
    font-weight: bolder;
    
}
.events{
    margin-top: 12%;
}
.para {
    margin-left: 22%;
    margin-right: 38%;
    margin-top: 5%;
}
#images{
    margin-top: 5%;
    margin-left: 15%;
}
/* .over{
    display: inline-block;
} */
.overview{
    margin-left: 38%;
    font-weight: bolder;
}
.lines{
    margin-left: 47%;
    font-weight: bolder;
}
.contacts{
    margin-left: 56%;
    font-weight: bolder;
}