body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  /* footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  } */
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  #contact a {
    color: #a683e3;
    margin: 10px;
  }
  
  #contact {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgba(0, 0, 0, .89);
  }
  
  .icon {
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s, box-shadow 0.5s;
    box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
  }
  
  #icon-container {
    display: flex;
    justify-content: center;
  }
  
  .icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
  }
  
  #contact p {
      font-size: 14px;
  }
  
  @media screen and (max-width: 426px) {
   #icon {
     width: 30px;
     height: 30px;
    }
    
    ul li {
      font-size: 12px;
    }
    
    #contact p {
      font-size: 10px;
    }
  }
  
  @media screen and (min-width: 2560px) {
   #icon {
     width: 50px;
     height: 50px;
    }
    
    ul li {
      font-size: 20px;
    }
    
    #contact p {
      font-size: 16px;
    }
  }
  #number{
    text-align: left;
  }
