@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
  font-family: 'Arvo', serif;
  transition: all .3s linear;
  

}


html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  background: white;
}

section {
  padding: 1rem 5%;
}
.nav-item{
  margin-right: 40px;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #2B2D42;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header .logo {
  color: #8D99AE;
  font-size: 2rem;
  font-weight: bold;
}

header .logo i {
  color: #EF233C;
  margin-right: .5rem;
}

header .navbar a {
  color: #EDF2F4;
  text-transform: uppercase;
  font-size: .8rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  font-weight: bold;
}

header .navbar a:hover {
  color: #D90429;
  background: #EDF2F4;
}

header #menu-btn {
  display: none;
  color: #EF233C;
  cursor: pointer;
}

header #menu-btn:hover {
  color: #EDF2F4;
}

.hero {
  background: #F2E0D2;
  /* background: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80') center center/cover; */
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-light{
  background: #F2E0D2 !important;
}
.hero .hero-content {
  text-align: center;
  z-index: 500;
}

.hero .hero-content .hero-heading {
  font-size: 3rem;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
}

.hero .hero-content p {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
  
}

.hero::before {
  content: '';
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, .8); */
}

.services h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
}

.services .services-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.services .services-box .box {
  display: flex;
  justify-content: space-between;
  /* aling-items: center; */
  padding: 1rem 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  align-self: normal;
  background:  #fff;
}

.services .services-box .box:hover  {
  transform: scale(1.2);
  z-index: 2;
}
/* .container .card :hover{
  transform: scale(1.2);
  z-index: 2;
} */
.services .services-box .box .box-content h3 {
  margin-bottom: .5rem;
}

.services .services-box .box i {
  margin-right: 1.5rem;
  color: #D90429;
}

@media (max-width: 991px) {
  html {
    font-size: 85%;
  }
  
  
}

@media (max-width: 768px) {
  header #menu-btn {
  display: inline-block;
}
  
  header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #2B2D42;
    border-top: 1px solid #8D99AE;
    padding: 2rem;
    clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0);
  }
  
  .header .navbar.active {
    clip-path: polygon(100% 0, 52% 0, 0 0, 0 100%, 100% 100%);
  }
  
  .header .navbar a {
    display: block;
    margin: 2rem;
    text-align: center;
  }
  
  .services .services-box {
    flex-direction: column;
    /* jusify-content: center; */
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
}
