.carousel {
    position: relative;
    width: 50%;
    /* align-items: center; */
    margin: auto !important;
}
@media screen and (max-width: 600px) {
    .carousel {
        position: relative;
        width: 100%;
        /* align-items: center; */
        margin: auto !important;
    }
   }
   