.testimonialOuter {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonialOuter h1 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}

.testimonialOuter .cards {
  margin-top: 40px;
  /* background: #F2E0D2; */
}

.testimonialOuter .cards_item {
  display: flex;
  justify-content: center;
}

.testimonialOuter .card {
  margin-top: 40px;
  width: 100%;
  max-width: 380px;
  position: relative;
  height: 390px;
  border-radius: 8px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  overflow: visible !important;
}

.testimonialOuter .card:hover {
  opacity: 0.9;
}

.testimonialOuter .card_content {
  font-family: 'Poppins', sans-serif;
  /* font-style: italic; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 500px !important;
  border-radius: 8px !important;
}

.card_content .card_title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  color: black;
}

.card_content .card_subtitle {
  font-size: 1rem;
  color: white;
  font-style: normal;
  margin-bottom: 20px;
}

/* .testimonialOuter .card_image {
  height: 160px;
  width: 160px;
} */

.testimonialOuter .card_image img {
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 160px;
  object-fit: cover;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 1100px) {
  .testimonialOuter .card {
    height: 410px;
  }
  .card_content .card_title {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 992px) {
  .testimonialOuter .card {
    height: 350px;
  }
}

@media screen and (max-width: 896px) {
  .testimonialOuter .card {
    height: 340px;
    width: 360px;
  }

  .testimonialOuter .cards {
    justify-content: center;
  }

  .testimonialOuter .card {
    margin-top: 60px;
  }
}

@media screen and (max-width: 769px) {
  .testimonialOuter .cards {
    justify-content: center;
  }
  .testimonialOuter .card {
    width: calc(100vw - 60px);
  }
}
