.testimonialOuter {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.testimonialOuter h1 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}

.testimonialOuter .cards {
    margin-top: 40px;
    /* background: #F2E0D2; */
}

.testimonialOuter .cards_item {
    display: flex;
    justify-content: center;
}

.testimonialOuter .card {
    width: 100%;
    max-width: 400px;
    position: relative;
}

.testimonialOuter .card:hover .card_content {
    height: 100%;
}

.testimonialOuter .card_content {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.9;
}

.testimonialOuter .card_image {
    height: 100%;
}

.testimonialOuter .card_image img {
    height: 100%;
    width: auto;
}

@media screen and (max-width: 769px) {
    .testimonialOuter .cards {
        justify-content: center;
    }
}